
@media screen and (max-width: 768px){
    .container{
        width:100%;
        position:absolute;
        top:0;
        bottom:0;
        background:#f9f9f9;
    }
    /*收入明细*/
    .income-wrap{
        padding:0 0.75rem;
        background: url("../img/bg.png");
        color:#fff;
    }
    .title{
        font-size:0.9rem;
        padding:1rem 0.75rem 1.1rem;
        color:#333;
    }
    .income-wrap .title{
        padding:1rem 0 1.1rem;
        color:#fff;
    }
    .go-back{
        display: inline-block;
        width: 0.75rem;
        height: 1.1rem;
        background: url(../img/return.png) no-repeat;
        background-size: 140%;
        margin-top:0.1rem;
    }
    .go-back.white{
        background: url(../img/back.png) no-repeat;
        background-size: 84%;
    }
    .income .all-ledou{
        font-size:0.65rem;
        margin-bottom:0.6rem;
    }
    .income .number{
        position: relative;
        font-size:1.65rem;
        margin-bottom:0.9rem;
    }
    .income .new-get{
        font-size:0.65rem;
        margin-bottom:1.25rem;
    }
    .income .exchange{
        width:4.675rem;
        height:1.475rem;
        line-height:1.475rem;
        background:#fff;
        position: absolute;
        right:-0.75rem;
        top:0.34rem;
        font-size:0.6rem;
        color:#ff3030;
        border-radius: 0.7375rem 0 0 0.7375rem;
    }
    .income .exchange .icon_1{
        width: 0.75rem;
        height:0.55rem;
        background:url("../img/mx_duihuan.png");
        background-size:cover;
        margin-left:0.475rem;
        margin-right:0.375rem;
        margin-top:0.5rem
    }
    .income .exchange .icon_2{
        width: 0.325rem;
        height:0.6rem;
        background:url("../img/mx_more.png");
        background-size:cover;
        margin-right:0.6rem;
        margin-top:0.44rem
    }
    .tab-wrap{
        width:100%;
        color:#ff3030;
        border-radius: 0.2rem 0.2rem 0 0;
        overflow: hidden;
    }
    .tab-wrap .fri_tab{
        width:7.775rem;
        height:2.9rem;
        background:#fff;
        opacity: 0.5;
        padding-top:1.075rem;
        padding-left:0.85rem;
    }
    .tab-wrap .fri_tab.cur{
        opacity: 1;
    }
    .fri_tab .part{
        font-size:0.675rem;
    }
    .fri_tab .part_num{
        font-size:1rem;
        font-weight:600;
    }
    .rate{
        height:1.5rem;
        color:#666;
        font-size:0.6rem;
        line-height:1.5rem;
    }
    .tab-content{
        display: none;
    }
    .tab-content.show{
        display: block;
    }
    .tab-content ul li{
        height:2.65rem;
        border-bottom:0.025rem solid #ccc;
        padding-left:1rem;
        padding-right:0.675rem;
        font-size:0.75rem;
        color:#333;
        background:#fff;
    }
    .sign-wrap .sign{
        margin-top:0.85rem;
    }
    .sign-wrap .ledou{
        font-size:0.65rem;
        color:#ff3030;
        margin-top: 0.5rem;
        margin-bottom:0.1rem;
    }
    .sign-wrap .time{
        font-size:0.4rem;
        color:#999;

    }

    /*意见反馈*/
    .p-l-r-30{
        padding:0 0.75rem;
    }
    .p-l-30{
        padding-left:0.75rem;
    }
    .opi{
        background:#fff;
        border-bottom:1px solid #ccc;
    }
    .txt-warp{
        position: relative;
    }
    .opinion-wrap p{
        height:1.25rem;
        line-height:1.25rem;
        padding-left:1rem;
        font-size:0.7rem;
        color:#666;
    }
    .opinion-wrap .txt{
        height:9.25rem;
        width:17.75rem;
        resize: none;
        border:none;
        font-size:0.8rem;
        color:#999;
        padding-left:1rem;
        padding-top:0.75rem;
    }
    .opinion-wrap .limit{
        position: absolute;
        bottom:0.5rem;
        right:0.5rem;
        font-size:0.65rem;
        color:#666;
    }
    .add-photo{
        padding:0.75rem 0.75rem 0.8rem;
    }
    .add-photo .add{
        display: inline-block;
        width:3.4rem;
        height:3.4rem;
        background: url("../img/yj_add.png") no-repeat;
        background-size: cover;
        margin-right:1.02rem;
        margin-bottom:0.7rem;
    }
    .add-photo .add:nth-child(4n){
        margin-right:0;
    }
    .btn{
        display: inline-block;
        width:100%;
        height:2.65rem;
        font-size:0.8rem;
        color:#ff3030;
        background:#fff;
        line-height:2.65rem;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        box-sizing: border-box;
    }

    /*邀请好友*/
    .invite-tab{
        width:100%;
        height:2.3rem;
        line-height:2.3rem;
        font-size:0.85rem;
        color:#333;
        background:#fff;
    }
    .invite-tab>a{
        display: inline-block;
        width:50%;
        height:100%;
        color:#333;
        position: relative;
    }
    .invite-tab>a>i{
        position: absolute;
        width:1.9rem;
        height:0.15rem;
        border-radius: 0.075rem;
        background:transparent;
        bottom:0;
        left:50%;
        margin-left:-0.95rem;
    }
    .invite-tab>a.cur{
        color:#ff3030;
    }
    .invite-tab>a.cur>i{
        background:#ff3030;
    }
    .invite{
        display: none;
    }
    .invite.show{
        display: block;
    }
    .invite>p{
        height:1rem;
        line-height: 1rem;
        font-size:0.5rem;
        color:#666;
    }
    .invite p>span{
        color:#ff3030;
    }
    .invite-method{
        background:#fff;
        padding-bottom:1rem;
    }
    .share-container{
        padding-top:1rem;
        padding-left: 2.2rem;
        padding-right: 2.2rem;
    }
    .share-container li{
        float: left;
        width:33.33%;
        font-size:0.7rem;
        color:#333;
        margin-bottom:0.95rem;
        text-align: center;
    }
    .share-container .share-item{
        display: inline-block;
    }
    .share-container .share-item .icon{
        display: block;
        width:2.625rem;
        height:2.6rem;
    }
    .share-container .share-item .txt{
        font-size:0.7rem;
        color:#333;
        margin-top:0.5rem;
    }
    .weixin .icon{
        background: url("../img/ya_weixin.png");
        background-size: cover;
    }
    .qq .icon{
        background: url("../img/ya_qq.png");
        background-size: cover;
    }
    .link .icon{
        background: url("../img/ya_lianjie.png");
        background-size: cover;
    }
    .qunfa .icon{
        background: url("../img/ya_qunfa.png");
        background-size: cover;
    }
    .qrcode .icon{
        background: url("../img/ya_erweima.png");
        background-size: cover;
    }
    .duanxin .icon{
        background: url("../img/ya_duanxin.png");
        background-size: cover;
    }
    .invite-code{
        width:11.6rem;
        height:1.7rem;
        line-height:1.7rem;
        border: 1px solid #ff3030;
        font-size:0.65rem;
        color:#ff3030;
        border-radius: 0.85rem;
        margin:0 auto 1rem;
    }
    .invite-good{
        padding:0.75rem 1rem 1rem;
        margin-top:0.5rem;
        background: #fff;
    }
    .invite-good .title{
        padding:0.75rem 0;
    }
    .invite-good .title>span{
        display: inline-block;
        width:5.075rem;
        height:0.95rem;
        background: url("../img/yq_yqdhc.png") no-repeat;
        background-size: cover;
    }
    .invite-good p{
        font-size:0.55rem;
        color:#333;
        margin-bottom:0.8rem;
    }
    .invite-good .rule{
        font-size:0.55rem;
        color:#ff3030;
    }
    .my-friend{
        width:100%;
        height:3.8rem;
        background: url("../img/mx_dh.png") repeat-y;
        border-top:1px solid #fff;
    }
    .friend-item{
        float: left;
        width:33.33%;
        text-align: center;
        color:#fff;
    }
    .friend-item>span{
        display: block;
    }
    .friend-item .num{
        font-size:0.85rem;
        margin-top:0.8rem;
        margin-bottom:0.5rem;
        font-weight:bold;
    }
    .friend-item .txt{
        font-size:0.6rem;
    }
    .fir-situation .title{
        height:2.175rem;
        line-height:2.175rem;
        padding:0 1rem 0 0.6rem;
        border-bottom: 1px solid #eee;
        background:#fff;
    }
    .fir-situation .fri-num{
        font-size:0.75rem;
        color:#333;
    }
    .fir-situation .what-contribute{
        font-size:0.75rem;
        color:#ff3030;
    }
    .contribute-tab .tab-item{
        float:left;
        width:33.33%;
        height:1.9rem;
        line-height:1.9rem;
        text-align: center;
        font-size:0.7rem;
        color:#999;
        background:#fff;
    }
    .contribute-tab .tab-item>div{
        display: inline-block;
    }
    .contribute-tab .tab-item .icon-wrap{
        width:0.5rem;
    }
    .contribute-tab .tab-item .icon-wrap .icon{
        width:100%;
        height:0.25rem;
    }
    .contribute-tab .tab-item .icon-wrap .up{
        background: url("../img/yq_on_unselected.png");
        background-size: cover;
        margin-bottom:0.1rem;
    }
    .contribute-tab .tab-item .icon-wrap .up.selected{
        background: url("../img/yq_on_selected.png");
        background-size: cover;
    }
    .contribute-tab .tab-item .icon-wrap .down{
        background: url("../img/yq_under_unselected.png");
        background-size: cover;
    }
    .contribute-tab .tab-item .icon-wrap .down.selected{
        background: url("../img/yq_under_selected.png");
        background-size: cover;
    }
    .contri-cont{
        padding:0.25rem;
    }
    .contri-item{
        height:3.9rem;
        background:#fff;
        border-radius: 0.25rem;
        margin-bottom:0.25rem;
    }
    .contri-item>a{
        display:block;
        padding:0 0.5rem;
        height:100%;
    }
    .contri-item .head-img{
        width:2.4rem;
        height:2.4rem;
        margin-top:0.6rem;
        margin-right:0.5rem;
        border-radius: 50%;
        overflow: hidden;
    }
    .contri-item .head-img img{
        width:100%;
    }
    .contri-item .info .name{
        font-size:0.7rem;
        color:#666;
        margin-top:0.6rem;
    }
    .contri-item .info .time{
        font-size:0.5rem;
        color:#999;
    }
    .contri-item .info .time>span:first-child{
        margin-right:0.25rem;
    }
    .contri-item .more{
        width:0.325rem;
        height:0.6rem;
        background:url("../img/more.png");
        background-size: cover;
        margin-top:1.65rem;
    }
    .contri-item .devote{
        margin-right:0.75rem;
    }
    .contri-item .devote>span{
        display: block;
        font-size:0.7rem;
        color:#ff3030;
        margin-top:1.1rem;
    }
    .contri-item .devote>p{
        font-size:0.65rem;
        color:#999;
    }
    .last>span{
        display: inline-block;
        vertical-align: middle;
    }
    .last .txt{
        font-size:0.6rem;
        color:#999;
        padding:0 0.5rem;
    }
    .last .line{
        width:2.5rem;
        height:1px;
        background:#ccc;
    }
    /*我的好友*/
    .info-wrap{
        background:#fff;
        height:6.75rem;
        padding:0.75rem 0.75rem 0;
    }
    .myFri-wrap .my-friend{
        background:#fff;
    }
    .myFri-wrap .friend-item{
        color:#666;
    }
    .myFri-wrap .friend-item .num{
        color:#333;
    }
    .myFri-wrap .head-img{
        width:2.575rem;
        height:2.575rem;
        margin-right:0.75rem;
    }
    .myFri-wrap .head-img>img{
        width:100%;
    }
    .myFri-wrap .info .name{
        font-size:0.75rem;
        color:#333;
        margin-bottom: 0.35rem;
        padding-top: 0.2rem;
    }
    .myFri-wrap .info .time{
        font-size:0.65rem;
        color:#666;
    }
    .myFri-wrap .info .time>span:first-child{
        margin-right:0.25rem;
    }
    .awards{
        margin-top:0.5rem;
        padding:0 0.75rem;
        background:#fff;
        font-size:0.7rem;
    }
    .awards .col{
        float: left;
        color:#333;
    }
    .awards .row{
        width:100%;
        height:1.725rem;
        line-height:1.725rem;
        border-bottom:1px solid #ccc;
    }
    .awards .row.title{
        height:2.2rem;
        line-height:2.2rem;
        padding:0;
        font-weight:bold;
    }
    .awards .col-1{
        width:8rem;
        text-align: left;
    }
    .awards .col-2{
        width:4.95rem;
        text-align: center;
    }
    .awards .col-3{
        width:4.3rem;
        text-align: right;

    }
    .awards .col.money{
        color:#ff3030;
    }
    .awards .col.status{
        color:#999;
    }
    .prompt{
        font-size:0.7rem;
        color:#ff3030;
        line-height:0.95rem;
        padding:0.5rem 0.75rem;
        background:#fff;
    }
    
    /*二维码邀请*/
    .qrcode-wrap{
        width:100%;
        background: url("../img/QRcode_back.png");
        background-size: 100%;
        padding:17.6rem 0 0.85rem;
    }
    .qrcode{
        width:8.5rem;
        height:8.5rem;
        margin:0 auto 1.5rem;
    }
    .qrcode-txt{
        font-size:0.8rem;
        color:#fef9f9;
    }
    .htxt{
        color:#fdff01;
    }

}