@charset "utf-8";
/*！--CSS重置和样式初始化(参考Normalize.css) ~ v1.0--*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, button,textarea, th, td,a,div{
    margin: 0;
    padding: 0;
    -webkit-user-select:none;
     -moz-user-select:none;
     -khtml-user-select:none;
     user-select:none;
}
input{
    margin: 0;
    padding: 0;
}


html,body {
    font-size: 12px;
    font-style: normal;
    font-family: "Microsoft YaHei";
}
img{
    display: inline-block;
    width:100%;
    vertical-align: top;
}
ul, ol {
    list-style: none
}
a,a:hover,a:focus{
	text-decoration:none;
    color:#333;
}
i,em{
    font-style: normal;
}
input{
    outline: none;
    border:0;
}
.fl{
    float: left!important;
}
.fr{
    float: right!important;
}
.clear:after {
    display: block;
    content: "";
    clear: both;
}
.clear{*zoom:1;}
.text-l{
    text-align: left;
}
.text-r{
    text-align: right;
}
.text-c{
    text-align:center;
}